.navbar {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: lavender;
  color: indigo;
}

.a {
  color: indigo;
  text-decoration: none;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
