<div class="input-page">
  <h1>
    Create A Binary Search <span class="tree-emoji">🌲</span>Tree<span class="tree-emoji">🌲</span>
  </h1>

  <form class="input-form" (ngSubmit)="onSubmit()">

    <label for="numbers" class="label-center">
      Enter numbers here separated by commas:
    </label>


    <input
      type="text"
      id="numbers"
      [(ngModel)]="numbersInput"
      name="numbers"
      placeholder="e.g. 5,3,8,1,4"
      required
    />

    <button type="submit" class="btn-green">SUBMIT HERE</button>

  </form>

    <app-tree-visual *ngIf="showTree"></app-tree-visual>

    <div class="button-group">
      <button type="button" (click)="onShowPrevious()"><span class="tree-emoji">🌲</span>SHOW PREVIOUS<span class="tree-emoji">🌲</span></button>
    </div>
</div>
